* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}

/*Estilos principal*/

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(7, 2, 2);
}

/* Navegacion*/
nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    width: 90px;
    margin-left: 20px;
}

.bar-btn {
    font-size: 25px;
    color: white;
    margin-left: 326px;
    cursor: pointer;
}
.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgb(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height:  30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(83, 97, 223);
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(48, 59, 207);
    transition: .3s;
}

/*Seccion de banners*/

.banner-principal {
    position: absolute;
    width: 100%;
    height: 340px;
    background-size: 250%;
    background-image: url(../img/banner-principal.png);
    background-position: center;
}

/* Responsive for desktop */
@media screen and (min-width: 768px) {

    .logo {
        margin-left: 20px;
        margin-top: 10px;
    }

    nav{
        height: 100px;
    }

    .bar-btn{
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 20px;
    }

    .banner-principal {
        height: 640px;
        background-size: cover;
        background-image: url(../img/banner-principal.png);
        background-attachment: fixed;
    }
}