* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Allerta Stencil';
    background-color: #f7f7f7;
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(7, 2, 2);
}


/* Navegacion*/

nav {
    position: fixed;
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(7, 2, 2);
}

.logo {
    width: 50px;
    margin-right: 20px;
}

.logo1 {
    width: 24px;
    margin-left: 2px;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: #000000;
    text-align: center;
    transition: all .5s;
    box-shadow: 0 0.25rem 0.25rem 0 var(--box-shadow);
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: rgb(248, 248, 248);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a:hover {
    color: rgb(32, 216, 16);
    transition: 3s;
}


/*Seccion de banners*/

.banner-principal {
    width: 100%;
    height: 621px;
    background-image: url(../img/banner-principal.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.logo2 {
    margin-left: 533px;
    margin-top: 519px;
    width: 451px;
}

.banner-text {
    text-align: center;
    padding: 280px;
    background-image: url(../img/banner-text.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 25px;
    color: white
}

.banner-textSecond {
    text-align: center;
    padding: 280px;
    background-image: url(../img/banner-text-second.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 25px;
}


/* contenedor text */

.champions-container {
    margin-top: 135px;
    text-align: center;
    font-size: 34px;
}

.description-champions {
    font-size: 20px;
    line-height: 2rem;
}

h1 {
    line-height: 97px;
}

.champions {
    margin-left: 30px;
    margin-bottom: 28px;
    background-color: #000000;
}

.champions p {
    font-size: 24px;
    color: #f7f7f7;
    height: 40px;
}


/* search champion and button filter */

.search-champion {
    width: 50%;
    height: 50px;
    margin: 20px;
    background: #FCFBFB;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 15px;
}

.orden {
    height: 50px;
    margin: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 15px;
}

.filter-champions-by-roles {
    width: 163px;
    height: 44px;
    background: #C7A43B;
    border-radius: 10px;
    margin: 10px 15px;
}

.filter-champions-by-roles:hover {
    background-color: rgb(8, 63, 6);
    color: #FCFBFB;
}


/*cards*/

.champions {
    margin-left: 30px;
    margin-bottom: 28px;
    background-color: #000000;
}

.champions p {
    font-size: 24px;
    color: #f7f7f7;
    height: 40px;
}

.container-cards {
    margin-top: 18px;
}

#card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.img-champions {
    width: 195px;
    height: 205px;
}

.name {
    font-size: 40px;
}

.champions p {
    font-size: 24px;
    color: #f7f7f7;
    height: 40px;
}


/* search champion and button filter */

.search-champion {
    width: 50%;
    height: 50px;
    margin: 20px;
    background: #FCFBFB;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 15px;
}

.orden {
    height: 50px;
    margin: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 15px;
}

.filter-champions-by-roles {
    width: 163px;
    height: 44px;
    background: #C7A43B;
    border-radius: 10px;
    margin: 10px 15px;
}


/* Responsive for desktop */

@media screen and (min-width: 768px) {
    /*seccion nav*/
    .logo {
        margin-left: 2px;
        margin-top: 10px;
        width: 113px;
    }
    .logo1 {
        margin-left: 10px;
        margin-top: 10px;
        width: 50px;
    }
    nav {
        height: 100px;
        top: 0;
    }
    .bar-btn {
        display: none;
    }
    .nav-menu {
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        position: fixed;
        width: 100%;
    }
    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    /* ventana de champions, descripciones, barra de busqueda,*/
    .champions-container {
        margin-top: 135px;
        text-align: center;
        font-size: 34px;
    }
    .description-champions {
        font-size: 20px;
        line-height: 2rem;
    }
    h1 {
        line-height: 97px;
    }
    .search-champion {
        width: 50%;
        height: 50px;
        margin: 20px;
        background: #FCFBFB;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
        padding-left: 20px;
        font-size: 15px;
    }
    .champions {
        margin-left: 30px;
        margin-bottom: 28px;
        background-color: #000000;
    }
    .champions p {
        font-size: 24px;
        color: #f7f7f7;
        height: 40px;
    }
    .orden {
        height: 50px;
        margin: 20px;
        border: 2px solid #000000;
        border-radius: 10px;
        font-size: 15px;
    }
    .filter-champions-by-roles {
        width: 163px;
        height: 44px;
        background: #C7A43B;
        border-radius: 10px;
        margin: 10px 15px;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }
    /*cards*/
    .champions {
        margin-left: 30px;
        margin-bottom: 28px;
        background-color: #000000;
    }
    .champions p {
        font-size: 24px;
        color: #f7f7f7;
        height: 40px;
    }
    .container-cards {
        margin-top: 18px;
    }
    #card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .img-champions {
        width: 195px;
        height: 205px;
    }
    .name {
        font-size: 40px;
    }
    /*prueba*/
}